<?xml version="1.0" ?>
<launch>
	<node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
		<param name="stream_mode" value="ClientPull" type="str" />
		<!--param name="datastream_hostport" value="192.168.0.13:801" type="str" /-->
                <param name="datastream_hostport" value="vicon" type="str" />
                <param name="tf_ref_frame_id" value="/vicon_world" type="str" />
                <param name="publish_transform" value="true" type="bool" />
                <param name="broadcast_transform" value="false" type="bool" />
		</node>
</launch>
